<form action="/register/<%= event._id %>" method="POST">
    <label for="username">Username</label>
    <input type="text" id="username" name="Username" required>

    <label for="email">Email</label>
    <input type="email" id="email" name="Email" required>

    <label for="password">Password</label>
    <input type="password" id="password" name="Password" required>

    <button type="submit">Confirm</button>
</form>

